---
import {Image} from "astro:assets";
import heroImage from '../../assets/succession-planning.webp';
---
<section class="py-12">
    <div class="text-center mb-10">
        Beyond Recruitment. It’s Spoton! Selection.
    </div>
    <div>

    <Image src={heroImage} alt="Hero background" layout="full-width" class="w-[40%] mx-auto object-cover "
           sizes="(max-width: 768px) 100vw, (max-width: 1200px) 80vw, 70vw" fit="cover" quality={90}/>
    </div>
</section>
