---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CtaBand from "../components/CtaBand.astro";
import aboutHero from "../assets/figma/about-hero.png";
import rebecca from "../assets/figma/rebecca-placeholder.png";
---

<MainLayout title="About Zorakle" description="33 years building the science of franchise fit.">
  <Header />

  <section class="section">
    <div class="container">
      <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/rebecca12?embed=true"></div>
      <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
    </div>
  </section>
</MainLayout>

