---
import MainLayout from "../layouts/MainLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ScienceSection from "../components/ScienceSection.astro";
import LogoCloud from "../components/LogoCloud.astro";
import PathCards from "../components/PathCards.astro";
import DifferenceGrid from "../components/DifferenceGrid.astro";
import TestimonialGrid from "../components/TestimonialGrid.astro";
import CtaBand from "../components/CtaBand.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<MainLayout>
  <SiteHeader />
  <main>
    <HeroSection />
    <ScienceSection />
    <PathCards />
    <LogoCloud />
    <DifferenceGrid />
    <TestimonialGrid />
    <CtaBand />
  </main>
  <SiteFooter />
</MainLayout>

