<section class="section-bg-light">
    <div class="py-10 border-b-1 border-b-[#3A6EA5] flex flex-col md:flex-row w-full md:w-3/4 mx-auto items-start">
        <div class="md:w-[70%] w-full md:pl-8 text-base md:text-lg flex items-center">
            We are a franchise specific solutions provider offering a suite of customizable assessments. Zorakle Profiles' meta-analysis methodology provides insights no singular profile, survey, algorithm or assessment can, and has changed the way in which franchisors select franchisees. We integrate seven statistically validated sciences and use both normative and ipsative scoring methods. Zorakle Profiles tools provide greater accuracy in predicting business success than companies using single science or single scoring methods. Our SpotOn! science determines compatibility and predicts performance. Zorakle tools reduce recruitment and support costs while increasing franchisee validation and performance.
        </div>
    </div>
</section>
