---
import Section1 from "./home/Section1.astro";
import Section2 from "./home/Section2.astro";
import Section3 from "./home/Section3.astro";
import Section4 from "./home/Section4.astro";
import Hero from "./Hero.astro";
import ShortBlogList from "./ShortBlogList.astro";
---
<Hero>
  <div class="text-white mx-auto">
    <div class="text-4xl mb-3 font-semibold mb-10">
      Scale Your Franchise System With High-Performing Franchisees by Predicting Performance and Compatibility Before You Award
    </div>
    <!--<div class="text-2xl mb-10">-->
    <!--Franchise growth doesn’t fail from lack of demand - it fails from poor selection. Replace guesswork with a system that helps you grow faster with the right operators.-->
    <!--</div>-->
    <div class="flex justify-center">
      <button class="border-2 p-2 text-2xl rounded-lg me-2">Predict Performance</button>
      <button class="border-2 p-2 text-2xl rounded-lg">See How It Works</button>
    </div>
  </div>
</Hero>
<Section1></Section1>
<Section2></Section2>
<Section3></Section3>
<Section4></Section4>
<ShortBlogList></ShortBlogList>
