---
import About from "./About.astro";
import Hero from "./Hero.astro";
import Contact from "./Contact.astro";
import ShortBlogList from "./ShortBlogList.astro";
---
<Hero>
  <h1 class="w-3/4 text-5xl text-white mb-6 mx-auto font-semibold">
    Use Science-Backed Insights to Find the Right Franchisees
  </h1>
</Hero>
<About></About>
<ShortBlogList></ShortBlogList>
<Contact></Contact>
